## Python conditions

1. Break
2. Continue
3. Pass

In [1]:
# if-else
number =0

if number>0:
    print("positive num")
else:
    print("negative num")

negative num

In [2]:
## if-elif-else
number =0

if number>0:
    print("positive num")
elif number == 0:
    print("non negative num")
else:
    print("negative num")

non negative num

In [3]:
## print outside loop
number =0

if number>0:
    print("positive num")
elif number == 0:
    print("non negative num")
else:
    print("negative num")
print("This is outside print")

non negative num
This is outside print

In [9]:
## while

days = 0
week = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]

while days<7:
    print(f"today is {week[days]}")
#     print(f"today is "+ week[days])
    days+=1

today is mon
today is tue
today is wed
today is thu
today is fri
today is sat
today is sun

In [10]:
## split whitespace

text = "Hi I am sandeep"
text.split()

['Hi', 'I', 'am', 'sandeep']

In [11]:
## split two number using whitespace

a,b = input("enter two numbers: ").split()
c = int(a)+int(b)

print(c)

enter two numbers: 2 3
5

In [12]:
name, age, _id = input("enter name, age and id: ").split()
print(name)
print(age)
print(_id)

enter name, age and id: sandeep 22 001
sandeep
22
001

In [15]:
## split in n+1 buckets

letters = "A B C D E"
print(letters.split(' ', 2))

['A', 'B', 'C D E']

In [16]:
## split in n+1 buckets

letters = "A B C D E"
print(letters.split(' ', 3))

['A', 'B', 'C', 'D E']

In [17]:
sep = "hi@hi@hi@hi@hi@hi"
sep.split("@")

['hi', 'hi', 'hi', 'hi', 'hi', 'hi']

In [18]:
sep.split("@", 2)

['hi', 'hi', 'hi@hi@hi@hi']

In [19]:
## break letters

for i in "sandeep":
    print('letters', i)

letters s
letters a
letters n
letters d
letters e
letters e
letters p

In [20]:
## Break

for i in "sandeep":
    if i == "d":
        break
    print('letters', i)

letters s
letters a
letters n

In [21]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [23]:
## break using while

i = 1

while i<=10:
    print(i)
    
    if i>5:
        break
    i=i+1

1
2
3
4
5
6

In [28]:
## break in list
l1 = [1,2,3,4,5,100]

for i in l1:
    if i>10:
        break
    print(i)

1
2
3
4
5

In [29]:
## break and store in a list
l1 = [1, 2, 3, 4, 5, 100]
result_list = []

for i in l1:
    if i > 10:
        break
    result_list.append(i)

print(result_list)

[1, 2, 3, 4, 5]

In [33]:
## break when character
s2 = "hi, I am, sandeep"

for i in s2:
    print(i)
    if i == ",":
        break

h
i
,

In [34]:
## break in character

s1 = "hi I am sandeep"

for i in s1:
    if i == "d":
        break
    print(i)

h
i

I

a
m

s
a
n

In [38]:
## store the words in list

s1 = "hi I am sandeep"
result_list = []

for word in s1.split():
    if 'd' in word:
        break
    result_list.append(word)

print(result_list)

['hi', 'I', 'am']

In [36]:
## getting the final word also where it breaks

s1 = "hi I am sandeep"
result_list = []

for word in s1.split():
    if 'd' in word:
        word = word[:word.index('d')]
        result_list.append(word)
        break
    result_list.append(word)

print(result_list)

['hi', 'I', 'am', 'san']

In [42]:
# continue skips the conditions

for i in "sandeep":
    if i == "d":
        continue
    print(i)

s
a
n
e
e
p

In [47]:
# continue skips the conditions
for i in range(7):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6

In [ ]:
## Break ends the loop
## continue skips the loop

In [50]:
# Q.1 Odd numbers using continue from (1,11)
## sol: filter the even number

for i in range(11):
    if i%2 ==0:
        continue
    print(i)

1
3
5
7
9

In [51]:
# Q.2 Odd numbers using continue from (1,11)
## sol: filter the odd number

for i in range(11):
    if i%2 != 0:
        continue
    print(i)

0
2
4
6
8
10

In [52]:
## Pass
n = 10

if n>10:
    pass

print("hi")

hi

In [53]:
## to avoid code error use pass
if n >20:

IndentationError: expected an indented block (Temp/ipykernel_21756/464953218.py, line 3)

In [55]:
## it bypass any conditions, actually it does nothing
for i in "sandeep":
    if i == "d":
        pass
    print(i)

s
a
n
d
e
e
p