# Python Data structure storage

### List

In [1]:
l = []
type (l)

list

In [2]:
l1 = [1,2,3,4,"sandeep", "chowdhury", 3+3j, 33.543, False]  ### In a list you can store any datatypes
l1

[1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False]

In [3]:
print(l1)

[1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False]

In [4]:
### keeping list inside a list
l2 = [1,2,3,4,"sandeep", "chowdhury", 3+3j, 33.543, False, [7,6,5,4]]
l2

[1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False, [7, 6, 5, 4]]

### indexing and slicing in a list

In [5]:
l2[0:4]

[1, 2, 3, 4]

In [11]:
len(l2)

10

In [10]:
l2[9:10]  ### list inside a list is also 1 index

[[7, 6, 5, 4]]

In [12]:
l2[-1]  ### same list reversing it

[7, 6, 5, 4]

In [13]:
### suppose wants to extract the last element of list inside another list [7,6,5,4] --> 0,1,2,3

l2[-1][3]

4

In [14]:
### list concatenation

l3 = [9,99,999, "sandeep", "python"]

l2+l3

[1,
 2,
 3,
 4,
 'sandeep',
 'chowdhury',
 (3+3j),
 33.543,
 False,
 [7, 6, 5, 4],
 9,
 99,
 999,
 'sandeep',
 'python']

In [15]:
print(l2+l3)  ### print helps to show output

[1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False, [7, 6, 5, 4], 9, 99, 999, 'sandeep', 'python']

In [16]:
### list with any other format will not work

l3+"chowdhury"

TypeError: can only concatenate list (not "str") to list

In [17]:
### if list is used for string it breaks it into letters

list("sandeep")

['s', 'a', 'n', 'd', 'e', 'e', 'p']

In [18]:
list("hello world this is sandeep")

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 's',
 'a',
 'n',
 'd',
 'e',
 'e',
 'p']

In [19]:
### numbers inside a list is not possible  ---> TypeError will explain later

list(333)

TypeError: 'int' object is not iterable

In [24]:
### so list is declared inside a square bracket to store any datatype but not list function directly

l4 = ["sandeep", 333]
l4

['sandeep', 333]

In [25]:
### list an repeat

l4*3

['sandeep', 333, 'sandeep', 333, 'sandeep', 333]

#### list is a mutable entity

In [26]:
### data can be changed/modified inside a list
l5 = [1,2,3,"sandeep","python"]
l5[0]

1

In [27]:
l5[3]

'sandeep'

In [29]:
l5[3]="chowdhury"
l5

[1, 2, 3, 'chowdhury', 'python']

### Tuple

In [30]:
t = ()
type(t)

tuple

In [31]:
t = (1,2,3,"sandeep", "python")
t

(1, 2, 3, 'sandeep', 'python')

In [33]:
t[-1]

'python'

In [34]:
len(t)

5

In [35]:
t[2:4]

(3, 'sandeep')

In [36]:
### in tuple also you can store any data types
t1= (1,2,3,4,"sandeep", "chowdhury", 3+3j, 33.543, False, (7,6,5,4))
t1

(1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False, (7, 6, 5, 4))

In [37]:
t1[-1]

(7, 6, 5, 4)

In [38]:
t1[-1][-1]

4

In [39]:
### list inside a tuple

t2= (1,2,3,4,"sandeep", "chowdhury", 3+3j, 33.543, False, [7,6,5,4])
t2

(1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False, [7, 6, 5, 4])

In [40]:
t2[-1]

[7, 6, 5, 4]

In [41]:
t2[-1][2]

5

#### Tuple is Immutable

In [42]:
### In tupple you cannot modify or change the data
t3 = ("sandeep", 637638, 99.999)
t3[0]

'sandeep'

In [43]:
t3[0]="chowdhury"

TypeError: 'tuple' object does not support item assignment

In [44]:
### concatenation among the tuple are possible
t4 = (1,2,3,"sandeep", "python")
t5 = ("chowdhury", 3+3j, 77.77)

t4+t5

(1, 2, 3, 'sandeep', 'python', 'chowdhury', (3+3j), 77.77)

In [45]:
### tuple and list different data types not possible
t4 = (1,2,3,"sandeep", "python")
l7 = [7,6,5]

t4+l7

TypeError: can only concatenate tuple (not "list") to tuple

In [46]:
#### multiplication of data is possible
t5 = ("sandeep", 100)
t5*3

('sandeep', 100, 'sandeep', 100, 'sandeep', 100)

##### tuple to list conversion is possible

In [47]:
t6 = (1,2,3,"sandeep", 5+9j, False)
list(t6)

[1, 2, 3, 'sandeep', (5+9j), False]

##### List to Tuple conversion is possible

In [49]:
l8 = [1,2,3,"sandeep", 5+9j, False]
tuple(l8)

(1, 2, 3, 'sandeep', (5+9j), False)

In [48]:
tuple(t6)

(1, 2, 3, 'sandeep', (5+9j), False)

In [51]:
t7 = ("sande    ep")
len(t7)

11

### Set

In [53]:
s = {1,2,3,4,4}
type(s)

set

In [55]:
### 4 is not repeated in set when we print the result
s

{1, 2, 3, 4}

##### set always remove duplicates

In [56]:
### Note --> it is not doing sorting
s1 = {"sandeep", "sandeep", "sandeep", 1,2,3,2,3,1,3,4}
s1

{1, 2, 3, 4, 'sandeep'}

In [68]:
#### since Set removes the duplicates so indexing is also not possible and any operation related to index is also not possible.
s1[0]

TypeError: 'set' object is not subscriptable

#### Set into a list

In [57]:
### Set into a list
s2 = {"sandeep", "python", "python", 1,2,3,2,3,4}
s2

{1, 2, 3, 4, 'python', 'sandeep'}

In [58]:
list(s2)

[1, 2, 3, 4, 'python', 'sandeep']

#### List to set

In [59]:
l9 = ["sandeep", "python", "python", 1,2,3,2,3,4]
l9

['sandeep', 'python', 'python', 1, 2, 3, 2, 3, 4]

In [60]:
set(l9)

{1, 2, 3, 4, 'python', 'sandeep'}

#### list inside a list cannot be converted to set

In [61]:
### list inside a list is unhashable
l10 = [1,2,3,4,"sandeep", "chowdhury", 3+3j, 33.543, False, [7,6,5,4]]
l10

[1, 2, 3, 4, 'sandeep', 'chowdhury', (3+3j), 33.543, False, [7, 6, 5, 4]]

In [62]:
set(l10)

TypeError: unhashable type: 'list'

#### Tuple to Set

In [63]:
t8 = (1,2,3,"sandeep", 5+9j, False)
t8

(1, 2, 3, 'sandeep', (5+9j), False)

In [64]:
set(t8)

{(5+9j), 1, 2, 3, False, 'sandeep'}

#### Set to tuple

In [66]:
s3 = {"sandeep", 1,2,3,3,3,4,"py", "py"}
s3

{1, 2, 3, 4, 'py', 'sandeep'}

In [67]:
tuple(s3)

(1, 2, 3, 4, 'py', 'sandeep')

#### If index is not possible to find in set then do type casting

In [72]:
### use typecasting to get the data
new_set = list(s1)
new_set

[1, 2, 3, 4, 'sandeep']

In [71]:
new_set[0]

1

#### there is no concept of mutability or immutability in set as we cannot even access it

### Dictionary

In [52]:
d = {}
type(d)

dict

In [73]:
### key-value pair
d1 = {"name":"sandeep"}
d1

{'name': 'sandeep'}

In [75]:
### keys are named indexes as list, tupple etc have 0,1,2,3,etc....
d1.keys()

dict_keys(['name'])

In [76]:
d1.values()

dict_values(['sandeep'])

In [77]:
### value can be a string like player or a list like players name
d2 = {"game":"IPL", "players":["sachin", "kohli", "dhoni"], "score":[67, 88, 54]}
d2

{'game': 'IPL', 'players': ['sachin', 'kohli', 'dhoni'], 'score': [67, 88, 54]}

In [78]:
### in dictionary if same key, it takes the latest key

d3 = {"name": "sandeep", "name":"chowdhury"}
d3

{'name': 'chowdhury'}

In [79]:
### number can be key
d4 = {1234:"sandeep"}
d4

{1234: 'sandeep'}

In [80]:
### list cannot be key
d5 = {[1,2,3,4]:"sandeep"}
d5

TypeError: unhashable type: 'list'

In [81]:
### tuple as a Key is possible
d6 = {(1,2,3,4):"sandeep"}
d6

{(1, 2, 3, 4): 'sandeep'}

In [82]:
### set as a key is not possible
d7 = {{1,2,3,3,4}:"sandeep"}
d7

TypeError: unhashable type: 'set'

In [83]:
### any predefined python operator can't be key
d8 = {%df:"sandeep"}
d8

SyntaxError: invalid syntax (Temp/ipykernel_21360/4187763768.py, line 2)

In [84]:
### make it string it will work
d9 = {"%df":"sandeep"}
d9

{'%df': 'sandeep'}

In [88]:
### you can keep values in any format as list, tuole, dict
### values can be unique as 1 is common but keys cannot be
d10 = {"team":["abc", "cde", "efg"], "players":("sachin", "kohli", "dhoni"), "score":{67, 88, 54}, "day": 1, "game":1}
d10

{'team': ['abc', 'cde', 'efg'],
 'players': ('sachin', 'kohli', 'dhoni'),
 'score': {54, 67, 88},
 'day': 1,
 'game': 1}

In [89]:
d10["team"]

['abc', 'cde', 'efg']

In [90]:
d10["players"]

('sachin', 'kohli', 'dhoni')

In [91]:
d10["score"]

{54, 67, 88}

#### Nested dictionary

In [93]:

d11 = {"team":["abc", "cde", "efg"], "players":("sachin", "kohli", "dhoni"), "score":{67, 88, 54}, "day": 1, "game":1, 
       "ground": {"ipl":["kol", "del", "chen", "dharm"], "oneday":["ahm", "ranc", "pune", "hyd"]}}
d11

{'team': ['abc', 'cde', 'efg'],
 'players': ('sachin', 'kohli', 'dhoni'),
 'score': {54, 67, 88},
 'day': 1,
 'game': 1,
 'ground': {'ipl': ['kol', 'del', 'chen', 'dharm'],
  'oneday': ['ahm', 'ranc', 'pune', 'hyd']}}

In [96]:
d11["ground"]["oneday"]

['ahm', 'ranc', 'pune', 'hyd']

In [97]:
### adding entry in dictionary
d12 = {"name": "sandeep"}

### add phone number
d12["phone_num"] = 57484657389

d12

{'name': 'sandeep', 'phone_num': 57484657389}

In [98]:
### Items
d10 = {"team":["abc", "cde", "efg"], "players":("sachin", "kohli", "dhoni"), "score":{67, 88, 54}, "day": 1, "game":1}
list(d10.items())

[('team', ['abc', 'cde', 'efg']),
 ('players', ('sachin', 'kohli', 'dhoni')),
 ('score', {54, 67, 88}),
 ('day', 1),
 ('game', 1)]