# Python Loops

1. if
2. if else
3. if elif else
4. for
5. Nested for
6. While

In [1]:
age=16

if age>=18:
    print("you can drive")
else:
    print("you cannot drive")

you cannot drive

In [5]:
x=20
if x>=23:
    print("no else so not print")

In [6]:
x=20
if x>=23:
    pass
print("will print as outside the if block")

will print as outside the if block

In [8]:
## if - elif - else

score=35

if score >=90:
    print("excellent performance your grade is A+")
elif score >=80:
    print("excellent performance your grade is A")
elif score >=70:
    print("excellent performance your grade is B")
else:
    print("excellent performance your grade is c")

excellent performance your grade is c

In [9]:
## condition and if-else
time = int(input("Please enter the time "))
    
if time < 0:
           print("Invalid")
elif 0 <= time <= 5:
           print("Night")
elif 6<= time <= 11:
           print("Morning")
elif 12 <= time <= 17:
           print("Afternoon")
elif 18 <= time <= 23:
           print("Evening")
else:
           print("Invalid")

Please enter the time 16
Afternoon

In [10]:
num1=10
num2=20
num3=30


if (num1>=num2) and (num1>=num3):
    largest=num1
    print("largest number is",largest)
elif (num2>=num1) and (num2>=num3):
    largest=num2
    print("largest number is",largest)
else:
    largest=num3
    print("largest number is",largest)

largest number is 30

In [11]:
## using operators like add,sub,mul,div

In [13]:
first = input("enter first number :")
operator = input("enter operator (+,-,*,/,%) : ")
second = input("enter second number :")

first = int(first)
second =  int(second)

if operator ==  "+":
    print(first+second)
elif operator == "-":
    print(first-second)
elif operator == "*":
    print(first*second)
elif operator == "/":
    print(first/second)
elif operator == "%":
    print(first%second)

enter first number :3
enter operator (+,-,*,/,%) : +
enter second number :4
7

In [14]:
## questions
num1=int(input("enter number1:"))
num2=int(input("enter number2:"))
op=input("enter op:")
         
if op =='+':
         print(num1+num2)
elif op =='-':
         print(num1-num2)
elif op=='*':
         print(num1*num2)
elif op =='/':
         print(num1/num2)
else:
         print("Invalid op:")

enter number1:2
enter number2:3
enter op:*
6

In [15]:
## questions
num=-1

if (num >= 0):
    if num == 0:
        print("number is 0")
    else:
        print("number is positive")
else:
    print("number is negitive")

number is negitive

#### for in range function

In [17]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
for l in ["a","b","c"]:
    print(l)

a
b
c

In [21]:
for i in "sandeep":
    print(i)

s
a
n
d
e
e
p

In [22]:
## no range so error
for i in 23:
    print(i)

TypeError: 'int' object is not iterable

In [23]:
## for in string

for i in "sandeep":
    print(i)

s
a
n
d
e
e
p

In [26]:
## for in dictionary

d1 = {"name": "sandeep", "domain": "data science"}

for i in d1.values():
    print(i)

sandeep
data science

In [27]:

d1 = {"name": "sandeep", "domain": "data science"}

for i in d1.keys():
    print(i)

name
domain

In [28]:
## for in range(start,stop,step)
for i in range(2,9,3):
    print(i)

2
5
8

In [29]:
country=["india","uk","germenry"]

for i in country:
    print(i)

india
uk
germenry

In [31]:
## using range and len of string inside list

country=["india","uk","germeny"]


for index in range(len(country)):
    print(country[index])

india
uk
germeny

In [32]:
dict1={"x1":1,"x2":2,"x3":3}
print(dict1.keys())
print(dict1.values())

dict_keys(['x1', 'x2', 'x3'])
dict_values([1, 2, 3])

In [33]:
for key in dict1:
    print(key, dict1[key])

x1 1
x2 2
x3 3

In [34]:
## if nothing mentioned it will only print the index

for i in dict1:
    print(i)

x1
x2
x3

In [35]:
## for loop for tuple

for i in (1,2,3):
    print(i)

1
2
3

In [36]:
## for loop in set

for i in {1,2,3}:
    print(i)

1
2
3

#### end function

In [37]:
print("hi",end = ' @' )
print("sandeep", end='! ')
print("Hello",end = ' @')
print("World",end=' $')

hi @sandeep! Hello @World $

In [38]:
for i in range(10):
    print(i,end=' $')

0 $1 $2 $3 $4 $5 $6 $7 $8 $9 $

In [45]:
for i in range(10):
    print(i,end=' Rs')

0 Rs1 Rs2 Rs3 Rs4 Rs5 Rs6 Rs7 Rs8 Rs9 Rs

In [46]:
## for-else

for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [47]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [48]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [49]:
for i in range(1,6): 
    for j in range(1,6):
        print(i*j,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [50]:
for i in range(1,6): 
    for j in range(1,6):
        print(i*j,end=' @')
    print()

1 @2 @3 @4 @5 @
2 @4 @6 @8 @10 @
3 @6 @9 @12 @15 @
4 @8 @12 @16 @20 @
5 @10 @15 @20 @25 @

### While

In [51]:
## always declare a variable before while
count=1

while count<=5:
    print(count)
    count +=1

1
2
3
4
5

In [52]:
text = " "

while text != "quit":
    text= input("enter a word")
    print("You entered ", text)

enter a wordknslvs
You entered  knslvs
enter a wordquit
You entered  quit

In [53]:
## if you know how times you will iterate go with for loop
## if you dont know how times you will iterate go with while loop

In [54]:
age = 0

while age!=23:
    age = int(input('enter the age'))
    print('you entered ',age)

enter the age22
you entered  22
enter the age24
you entered  24
enter the age23
you entered  23

In [55]:
## list and a variable
list1=[23,23,22,21,20]
age=0;
while age not in list1:
    age = int(input("Enter Your age "))
    print("invalid age")
else:
    print("Age is  from list");

Enter Your age 77
invalid age
Enter Your age 23
invalid age
Age is  from list