# Python day -3

#### Agenda:
- Comments
- Multi line comment
- Typecasting
- Slicing (Revision)
- fstring (revision)
- print (Revision)
- User input (Revision)

### Comments

In [2]:
# addition 

print(2+2)  # printing the addition

4

In [3]:
# 2+2

In [4]:
2+2

4

In [5]:
# input is used for user inputs
name = input("enter name: ")

enter name: guglk

In [8]:
#name1 = "sandeep"
name2= "aditya"
print(name2)
print(name1+name2)
# print(name2)

aditya

NameError: name 'name1' is not defined

### multiline comment

In [9]:
"""khjhvdiufvd ugfivdhf iudfd gfivdfivhdf
gudfviudhfvidfv  kdfkvhdfvhdf
kdfvudfvdhfivhdfhvod """

print(2+2)

4

In [10]:
print("""khjhvdiufvd ugfivdhf iudfd gfivdfivhdf
gudfviudhfvidfv  kdfkvhdfvhdf
kdfvudfvdhfivhdfhvod """)

khjhvdiufvd ugfivdhf iudfd gfivdfivhdf
gudfviudhfvidfv  kdfkvhdfvhdf
kdfvudfvdhfivhdfhvod

In [11]:
# kjfvkdfvhdhvuhsif 
# ksvsvd
# lknmfsgfodjgojfg

In [12]:
print("""*
**
***
****
*****
******""")

*
**
***
****
*****
******

### Typecasting

In [22]:
# characters cannot be typecasted

In [16]:
a = 22
print(a)

22

In [14]:
type(a)

int

In [15]:
float(a)

22.0

In [17]:
name = "sandeep"

In [18]:
int("sandeep")

ValueError: invalid literal for int() with base 10: 'sandeep'

In [19]:
name1 = "123"
type(name1)

str

In [20]:
int(name1)

123

In [21]:
float(name1)

123.0

### Slicing (Rev.)

In [23]:
name2 = "sandeep"

In [24]:
name2[2:4] #start=2 and stop=4

'nd'

In [25]:
name2[:] # from start to stop

'sandeep'

In [26]:
name2[::2] # start and stop with 2 jumps

'snep'

In [27]:
name2[::-1]  # start and stop but jump on negative

'peednas'

In [28]:
name2[::-2] #start and stop all but jump -2 on negative

'pens'

In [29]:
name2[:2] #start from 0 and stop at 2

'sa'

In [30]:
name2[2:] # start from 2 and stop at end

'ndeep'

In [32]:
fcm = "water101 tank100A"
len(fcm)

17

In [34]:
fcm[13:]

'100A'

In [37]:
fcm[-4:]

'100A'

In [38]:
fcm[-8:]

'tank100A'

### f-string

In [41]:
name = "sandeep"
age= "90"

print(f'{name, age}')

('sandeep', '90')

In [42]:
print(f'my name is {name} and age is {age}')

my name is sandeep and age is 90

In [43]:
print(f'I am {name} having age {age}')

I am sandeep having age 90

### Print

In [44]:
print(2+2)

4

In [45]:
name ="sandeep"
print(name)

sandeep

In [46]:
a=2
b=7
c = a*b

In [47]:
print(c)

14

### user input

In [48]:
user= input("enter your name: ")   # input function always gives string

enter your name: gdcusd hs

In [49]:
print(user)

gdcusd hs

In [50]:
type(user)

str

In [53]:
age = input("enter age: ")

enter age: 22

In [54]:
type(age)

str

In [55]:
# string to integer as you need age as integer

age1 = int(age)
age1

22

In [56]:
type(age1)

int