# Python Data structure

1. List --> []
2. Tupple --> ()
3. Set --> {}
4. Dictionary --> {}

## 1. LIST

In [1]:
l1 = [] #square bracket

In [2]:
type(l1)

list

In [3]:
l2 =[2,3,4]
type(l2)

list

In [4]:
l3 = [2.33, 5.66, 4.56]
type(l3)

list

In [6]:
l4 = [1,2,3.44,6.55,False, 'Sandeep', 3+3j] # list of all data types
print(l4)

[1, 2, 3.44, 6.55, False, 'Sandeep', (3+3j)]

In [7]:
l5 = [4,5,6, [6,7,8],False, 'Sandeep', 3+3j] # list inside a list
l5

[4, 5, 6, [6, 7, 8], False, 'Sandeep', (3+3j)]

In [8]:
l3+l4 #concatenation --> list with list

[2.33, 5.66, 4.56, 1, 2, 3.44, 6.55, False, 'Sandeep', (3+3j)]

In [9]:
l3+"aditya" # list with other data types concatenation not possible

TypeError: can only concatenate list (not "str") to list

In [10]:
list("aditya")

['a', 'd', 'i', 't', 'y', 'a']

In [11]:
list("hi aditya I am learning python")

['h',
 'i',
 ' ',
 'a',
 'd',
 'i',
 't',
 'y',
 'a',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [12]:
list(12345)

TypeError: 'int' object is not iterable

In [13]:
# multiplication

l7 = ["sandeep", 123]
l7*3

['sandeep', 123, 'sandeep', 123, 'sandeep', 123]

In [14]:
l8 = [100,99.44,True, 'Aditya', 4+39j]
l8

[100, 99.44, True, 'Aditya', (4+39j)]

In [19]:
l8[0]

100

In [21]:
l8[4]

(4+39j)

In [22]:
l8[3:5]

['Aditya', (4+39j)]

In [24]:
l9 = [101,77.77,True, [1,2,"sandeep"],'Aditya', 4+39j]
#1. op: [1,2,"sandeep"]
#2. op: [1,2]
#3. op:['Aditya', 4+39j]

In [25]:
#1. op: [1,2,"sandeep"]
l9[3]

[1, 2, 'sandeep']

In [26]:
var = l9[3]
var

[1, 2, 'sandeep']

In [27]:
l9[3][0:2]

[1, 2]

In [28]:
# list modification
l10 = [1, 3, 4, "atta", "poha", "milk"]
l10

[1, 3, 4, 'atta', 'poha', 'milk']

In [30]:
l10[3] = "maida"
l10

[1, 3, 4, 'maida', 'poha', 'milk']

In [31]:
# len of list
len(l10)

6

In [34]:
l11 = [1, 3, 4, "atta", "poha", ["suji", "maida", 4], "milk"]

# --> op:[1, 3, 4, "atta", "poha", ["suji", "atta", 4], "milk"]

In [38]:
l11[5][1] = "atta"
l11

[1, 3, 4, 'atta', 'poha', ['suji', 'atta', 4], 'milk']

In [ ]:
# l12 = [1, 3, 4, 'maida', 'poha', 'milk']
# 1. op:--> ["milk", "poha", "maida", 4,3,1]...reverse the list
# 2. op:--> ["milk", "poha", "maida"]

In [32]:
l12 = [1, 3, 4, 'maida', 'poha', 'milk']
l12[::-1]

['milk', 'poha', 'maida', 4, 3, 1]

In [33]:
l12[::-1][0:3]

['milk', 'poha', 'maida']

In [ ]:
# list1 = [1,2,3]
# list2 = [4,5,6]
# op: [2,6]

In [ ]:
# list3 = [1, "sandeep", 100]
# list4 = [2, "aditya", 99]

#op: ["aytida", "peednas"]

In [12]:
list3 = [1, "sandeep", 100]
list4 = [2, "aditya", 99]

var1 = list3[1][::-1]
var2 = list4[1][::-1]

new_list = [var2, var1]
new_list

# list3[1] + list4[1]

['aytida', 'peednas']

## 2. Tuple

In [1]:
t = (1,2,3)
type(t)

tuple

In [3]:
t1 = (2.33, 5.66, 4.56) # common bracket
t1

(2.33, 5.66, 4.56)

In [4]:
t2 = (1,2,3.44,6.55,False, 'Sandeep', 3+3j) # tuple of all data types
print(t2)

(1, 2, 3.44, 6.55, False, 'Sandeep', (3+3j))

In [5]:
t2+"aditya"

TypeError: can only concatenate tuple (not "str") to tuple

In [6]:
t2+ ("aditya") # tuple not doing concatenation

TypeError: can only concatenate tuple (not "str") to tuple

In [8]:
l11=[1,2,3]  # list can do concatenation
l11+["sandeep"]

[1, 2, 3, 'sandeep']

In [9]:
t3 = ("sandeep", 123) # tuple  can do multiplication of data
t3*3

('sandeep', 123, 'sandeep', 123, 'sandeep', 123)

In [10]:
t4 = (100,99.44,True, 'Aditya', 4+39j) #slicing is possible in tuple
t4[0]

100

In [11]:
t4[0:2]

(100, 99.44)

In [ ]:
t5 = (1, 3, 4, "atta", "poha", "milk")
t5()

In [ ]:
## list revision below

In [12]:
l12 = [1, 3, 4, "atta", "poha", "milk"]
l12[-1] = "water"
l12

[1, 3, 4, 'atta', 'poha', 'water']

In [15]:
l12 = [1, 3, 4, "atta", "poha", "milk"]
l12[5] = "water"
l12

[1, 3, 4, 'atta', 'poha', 'water']

In [18]:
t12 = tuple(l12) # tuple is immutable
t12[3] = "maida"
t12

TypeError: 'tuple' object does not support item assignment

## 3. Set

In [19]:
s1 = {}
type(s1)

dict

In [20]:
s2 = {1,2,3}
type(s2)

set

In [31]:
d1 = {"aditya": "1/a, ghanta road, chattisgarh", "job": "BOSCH"}
type(d1)

dict

In [33]:
d1["job"]

'BOSCH'

In [23]:
s3 = {"sandeep", "aditya", "1/a, ghanta road, chattisgarh"}
type(s3)

set

In [34]:
s4 = {1,2,3,4,4,4,4}
s4

{1, 2, 3, 4}

In [36]:
ph = {7,7.2,8,8.5,8.5,7,7.2,9.3,6.6}
ph

{6.6, 7, 7.2, 8, 8.5, 9.3}

## Dictionary

In [ ]:
## dictionary is Key and Value pair

In [37]:
d1 = {"aditya": "1/a, ghanta road, chattisgarh", "job": "BOSCH"}
type(d1)

dict

In [38]:
d2 = {"ph":7, "cod":55, "bod":87}
d2

{'ph': 7, 'cod': 55, 'bod': 87}

In [39]:
d2["ph"]

7

In [40]:
# list inside a dictionary
d3 = {"ph":[7, 7,7, 8, 9, 4.4], "cod":55, "bod":87}
d3

{'ph': [7, 7, 7, 8, 9, 4.4], 'cod': 55, 'bod': 87}

In [41]:
d3["ph"]

[7, 7, 7, 8, 9, 4.4]

In [42]:
# set inside a dictionary
d4 = {"ph":{7, 7,7, 8, 9, 4.4}, "cod":55, "bod":87}
d4["ph"]

{4.4, 7, 8, 9}

In [43]:
# tuple inside a dictionary
d4 = {"ph":(7, 7,7, 8, 9, 4.4), "cod":55, "bod":87}
d4["ph"]

(7, 7, 7, 8, 9, 4.4)

In [44]:
# dict inside a dict
## IPL Score
d5 = {"team": ["kol", "hyd"], "captains":("iyer", "patcummins"), "score":{150, 175, 175, 200}, 
      "ground":{1:"eden", 2:"chennai", 3:"hyd"}}

In [45]:
d5

{'team': ['kol', 'hyd'],
 'captains': ('iyer', 'patcummins'),
 'score': {150, 175, 200},
 'ground': {1: 'eden', 2: 'chennai', 3: 'hyd'}}

In [47]:
d5["ground"][2]

'chennai'

In [48]:
d5["team"]

['kol', 'hyd']

In [49]:
d5["score"]

{150, 175, 200}

In [50]:
d5["ground"][3]

'hyd'

In [51]:
d6={"key": "value"}
d6["key"]

'value'

In [57]:
d6 = {%2:"sandeep"}
d6

SyntaxError: invalid syntax (Temp/ipykernel_3768/466505300.py, line 1)