In [2]:
import pandas as pd
from prophet import Prophet
import pyodbc
import datetime
import warnings

warnings.filterwarnings("ignore")

In [3]:
import pyodbc
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=na0vm00024.apac.bosch.com;"
                        "Database=DB_MFC2DB_SQL;"
                        "Trusted_Connection=yes;")

In [10]:
sql = """SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz1' AS dz
         FROM [ChironDZ1]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1

         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz2' AS dz
         FROM [ChironDZ2]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz3' AS dz
         FROM [ChironDZ3]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz4' AS dz
         FROM [ChironDZ4]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz6' AS dz
         FROM [ChironDZ6]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz7' AS dz
         FROM [ChironDZ7]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz8' AS dz
         FROM [ChironDZ8]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         UNION

         SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz9' AS dz
         FROM [ChironDZ9_1]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 1
         AND [ProgRun] = 1
         
         
         ORDER BY [TimeStamp] ASC""" 

df_mail = pd.read_sql_query(sql, cnxn, parse_dates=True)
df_mail.head()

Empty DataFrame
Columns: [CoolantPr, ToolBroken, TimeStamp, dz]
Index: []

In [9]:
df_mail["dz"].unique()

array(['dz4', 'dz2'], dtype=object)

### short sql

In [7]:
df_mail.tail()

     CoolantPr  ToolBroken               TimeStamp   dz
162   1.655629       False 2024-04-08 15:28:08.373  dz4
163  73.404650       False 2024-04-08 15:28:09.607  dz2
164   1.564074       False 2024-04-08 15:28:13.280  dz4
165  64.882350       False 2024-04-08 15:28:17.123  dz2
166  20.729700       False 2024-04-08 15:28:18.170  dz4

In [13]:
sql = """SELECT [CoolantPr], [ToolBroken], [TimeStamp], 'dz1' AS dz
         FROM [ChironDZ1]
         WHERE [TimeStamp] >= DATEADD(MINUTE, -600, GETDATE()) 
         AND [ToolBroken] = 0
         AND [ProgRun] = 1
        ORDER BY [TimeStamp] ASC""" 

df_test = pd.read_sql_query(sql, cnxn, parse_dates=True)
df_test.head()

Empty DataFrame
Columns: [CoolantPr, ToolBroken, TimeStamp, dz]
Index: []