In [ ]:
import pandas as pd
import pyodbc
import warnings
import datetime

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=na0vm00024.apac.bosch.com;"
                        "Database=DB_MFC2DB_SQL;"
                        "Trusted_Connection=yes;")

six_months_ago = datetime.datetime.now() - datetime.timedelta(days=180)
formatted_date = six_months_ago.strftime('%Y-%m-%d')

# sql = f"SELECT * FROM [EFD2] WHERE CAST([TimeStamp] AS DATE) >= '{formatted_date}' ORDER BY [TimeStamp] ASC"
sql = f"SELECT * FROM [EFD2]"

df = pd.read_sql_query(sql, cnxn, parse_dates=True)
cursor = cnxn.cursor()
cursor.execute(sql)

df.head()

In [ ]:
sql = f"SELECT * FROM [EFD2]

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

plt.figure(figsize=(20, 12))
plt.scatter(df['TimeStamp'], df['QTemp'])
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Scatter Plot of TimeStamp and QTemp')
plt.show()

### efd2 17th august

In [ ]:
import pandas as pd
import pyodbc
import warnings
import datetime

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=na0vm00024.apac.bosch.com;"
                        "Database=DB_MFC2DB_SQL;"
                        "Trusted_Connection=yes;")

sql = f"SELECT [HEnergy1] , [TEnergy1] , [TemTempRH], [TemTempLH], [TimeStamp], CAST([TimeStamp] AS DATE) AS date FROM [EFD2] WHERE CAST([TimeStamp] AS DATE) = '2023-09-14' ORDER BY [TimeStamp] ASC"

df = pd.read_sql_query(sql, cnxn, parse_dates=True)
cursor = cnxn.cursor()
cursor.execute(sql)

df.head()

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

df['TimeStamp'] = pd.to_datetime(df['TimeStamp'])

fig = make_subplots(rows=4, cols=1, shared_xaxes=True, subplot_titles=['HEnergy1', 'TEnergy1', 'TemTempRH', 'TemTempLH'])

columns = ['HEnergy1', 'TEnergy1', 'TemTempRH', 'TemTempLH']

for i, column in enumerate(columns, start=1):
    fig.add_trace(go.Scatter(x=df['TimeStamp'], y=df[column], mode='lines', name=column), row=i, col=1)

fig.update_layout(title_text='Individual Column Subplots with Timestamp as X-Axis', showlegend=False)

fig.show()

In [ ]:
import plotly.graph_objects as go

df['TimeStamp'] = pd.to_datetime(df['TimeStamp'])

columns = ['HEnergy1', 'TEnergy1', 'TemTempRH', 'TemTempLH']

# Create a subplot with shared x-axis for all plots
fig = make_subplots(rows=4, cols=1, shared_xaxes=True, subplot_titles=columns)

for i, column in enumerate(columns, start=1):
    fig.add_trace(go.Scatter(x=df['TimeStamp'], y=df[column], mode='lines', name=column), row=i, col=1)

# Update layout and show the combined plot
fig.update_layout(title_text='Combined Plots with Timestamp as X-Axis', showlegend=False)

# Save the combined plot as an HTML file
html_filename = '14_aug.html'
fig.write_html(html_filename)

# Optionally, open the HTML file in a web browser
os.system(f'start {html_filename}')

In [ ]:
### efd2 and efd3 for hardnening and tampering temperature

In [4]:
import pandas as pd
import pyodbc
import warnings
import datetime

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=na0vm00024.apac.bosch.com;"
                        "Database=DB_MFC2DB_SQL;"
                        "Trusted_Connection=yes;")

# sql = f"SELECT [HTempLH] , [HTempRH] , [TemTempRH], [TemTempLH], [TimeStamp], CAST([TimeStamp] AS DATE) AS date FROM [EFD2] WHERE CAST([TimeStamp] AS DATE) = '2023-09-14' ORDER BY [TimeStamp] ASC"

sql = f" SELECT [HTempLH] ,[HTempRH],[TemTempRH], [TemTempLH], [TimeStamp] FROM [EFD2] WHERE Timestamp BETWEEN '2023-06-01T00:00:00' AND '2024-01-08T11:59:58' ORDER BY 'TimeStamp'"
df = pd.read_sql_query(sql, cnxn, parse_dates=True)
cursor = cnxn.cursor()
cursor.execute(sql)

# df.tail()

,HTempLH,HTempRH,TemTempRH,TemTempLH,TimeStamp
15193971,254.947922,268.417236,250.000000,250.000000,2024-01-08 11:59:53.403
15193972,399.262146,461.111084,250.000000,250.000000,2024-01-08 11:59:54.403
15193973,557.045715,599.927612,260.170715,250.000000,2024-01-08 11:59:55.403
15193974,632.638916,657.653381,372.873260,364.351837,2024-01-08 11:59:56.403
15193975,703.009277,746.166077,404.210083,409.707764,2024-01-08 11:59:57.403