# Python data Structure storage

1. List --> []
2. Tuple --> ()
3. Set --> {}
4. Dictionary --> {}

## 1. List

In [4]:
l1 = []
print(type(l1))
print("hello deepan")

<class 'list'>
hello deepan

In [2]:
l2 = [1,2,3,4]
print(l2)

[1, 2, 3, 4]

In [3]:
l2

[1, 2, 3, 4]

In [4]:
type(l2)

list

In [5]:
l3 = [2.33, 4.55]
l3

[2.33, 4.55]

In [6]:
## list can store any data types
l4 = [1,2,3, 3.44, False, "deepan", (3+2j)]
l4

[1, 2, 3, 3.44, False, 'deepan', (3+2j)]

In [7]:
## list inside a list --> Nested List

l5 = [1,2,3, ["sandeep",2,4.77], 3.44, False, "deepan", (3+2j)]
l5

[1, 2, 3, ['sandeep', 2, 4.77], 3.44, False, 'deepan', (3+2j)]

In [8]:
type(l5)

list

In [9]:
# anything can be modified in list
l6 = [1,2,3]
l6*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
l7 = [1,2,3, 3.44, False, "deepan", (3+2j)]
## slicing is also possible
l7[5]  ## slicing n-1

'deepan'

In [12]:
len(l7) # len function tells n

7

In [13]:
## extract sandeep
l8 = [1,2,3, ["sandeep",2,4.77], 3.44, False, "deepan", (3+2j)]
l8[3][0], l8[5]

('sandeep', False)

In [14]:
l8[::-1]

[(3+2j), 'deepan', False, 3.44, ['sandeep', 2, 4.77], 3, 2, 1]

In [19]:
l8[3][::-1]

[4.77, 2, 'sandeep']

In [20]:
## list assignment

l9 = ["atta", "maida", "milk", 200, 400]
l9[0]

'atta'

In [21]:
l9[0] = "poha"
l9

['poha', 'maida', 'milk', 200, 400]

In [22]:
list("sandeep")

['s', 'a', 'n', 'd', 'e', 'e', 'p']

## 2. Tuple

In [24]:
t1 = ()
type(t1)

tuple

In [25]:
t2 = (1,2,3,4)
type(t2)

tuple

In [27]:
type(t2[0])

int

In [29]:
t3= (1,2,3, 3.44, False, "deepan", (3+2j))
t3

(1, 2, 3, 3.44, False, 'deepan', (3+2j))

In [31]:
# tuple inside a tuple

t4 = (1,2,3, ("sandeep",2,4.77), 3.44, False, "deepan", (3+2j))
t4

(1, 2, 3, ('sandeep', 2, 4.77), 3.44, False, 'deepan', (3+2j))

In [33]:
t4[3][0]

'sandeep'

In [34]:
t5 = (1,2,3, ("sandeep",2,4.77), 3.44, False, "deepan", (3+2j))
t5[3][0]

'sandeep'

In [35]:
t5[3][0] = "deepan"

TypeError: 'tuple' object does not support item assignment

## 3. Set

In [36]:
s1 = {}
type(s1)

dict

In [37]:
s2 = {1,2,3}
type(s2)

set

In [38]:
d1 = {"keys": "values"}
type(d1)

dict

In [43]:
d2 = {"deepan": "is a bosch guy"}
d2

{'deepan': 'is a bosch guy'}

In [44]:
d2.keys()

dict_keys(['deepan'])

In [45]:
d2.values()

dict_values(['is a bosch guy'])

In [46]:
## continue the set

s3 = {1,2,3, 3.44, False, "deepan", (3+2j)}
s3

{(3+2j), 1, 2, 3, 3.44, False, 'deepan'}

In [48]:
s4 = {1,2,2,3,3, 3.44, False, False,"deepan", (3+2j)}
s4

{(3+2j), 1, 2, 3, 3.44, False, 'deepan'}

## 4. Dictionary

In [49]:
d3 = {"user1":"good", "user2": "ok", "user3":"bad"}

d3

{'user1': 'good', 'user2': 'ok', 'user3': 'bad'}

In [52]:
d3["user3"]

'bad'

In [53]:
## Nested dictionary -- dict inside dict or anything inside a dict

d4 = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [60]:
d4

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [55]:
d4["child1"]

{'name': 'Emil', 'year': 2004}

In [59]:
d4["child1"]["name"], d4["child1"]["year"]

('Emil', 2004)

In [61]:
d4["child3"]

{'name': 'Linus', 'year': 2011}

In [62]:
d4["child3"]["year"]

2011

In [63]:
d4 = {
  "child1" : {
    "name" : ["Emil", "deepan", "sandeep"],
    "year" : 2023
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [65]:
d4["child1"]["name"][1:3]

['deepan', 'saneep']

In [67]:
## assignments-1

# list1 = [1, "sandeep", 001]
# list2 = [2, "Deepan", 002]

#op: ["napeeD", "peednas"]

In [68]:
## assignments-2

#scores = {"team": ["kol", "hyd"], "captains":("iyer", "patcummins"), "score":{150, 175, 175, 200}, "ground":{1:"eden", 2:"chennai", 3:"hyd"}}
# 1. change team kol to pune.
# 2. change ground eden to Pune.