In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Comorbid.xlsx")

In [3]:
df.head(2)

,Age,Grade,Logistics,Temperature,Pneumonia,Hypertension,DiabetesMellitus
0,77,B,Immediate Surgical intervention(then Ward / IC...,37.4,No,No,No
1,64,A,Admit to Ward for Care,38.0,No,Yes,No

In [4]:
df.columns

Index(['Age', 'Grade', 'Logistics', 'Temperature', 'Pneumonia', 'Hypertension',
       'DiabetesMellitus'],
      dtype='object')

In [5]:
df.Age.mean()

55.10385259631491

In [6]:
df.Age.median()

56.0

In [7]:
df.DiabetesMellitus.mode()

0    No
dtype: object

In [8]:
df.DiabetesMellitus.value_counts()

No     532
Yes     65
Name: DiabetesMellitus, dtype: int64

In [10]:
df.DiabetesMellitus.value_counts(normalize = True) * 100

No     89.112228
Yes    10.887772
Name: DiabetesMellitus, dtype: float64

In [11]:
df[df.Grade == "A"].Age.mean()

54.00892857142857

In [12]:
df[df["Grade"] == "A"]["Age"].mean()

54.00892857142857

In [13]:
df.Age.min()

18

In [14]:
df.Age.max()

90

In [15]:
df.Age.max() - df.Age.min()

72

In [16]:
df.Age.std()

21.712565607657385

In [17]:
df.Age.var()

471.4355052668263

In [20]:
df.Age.quantile([0, 0.25, 0.5, 0.75, 1])

0.00    18.0
0.25    35.0
0.50    56.0
0.75    75.0
1.00    90.0
Name: Age, dtype: float64

In [24]:
np.percentile(df.Age.values, [0, 25, 50, 75, 90, 100])

array([18., 35., 56., 75., 84., 90.])

In [25]:
from scipy import stats

In [26]:
stats.iqr(df.Age)

40.0

In [27]:
df.Age.describe()

count    597.000000
mean      55.103853
std       21.712566
min       18.000000
25%       35.000000
50%       56.000000
75%       75.000000
max       90.000000
Name: Age, dtype: float64

In [28]:
df.DiabetesMellitus.value_counts()

No     532
Yes     65
Name: DiabetesMellitus, dtype: int64