### Approach of Data cleaning

In [61]:
## Data cleaning code working well with sheet no.:0-4 as 'After '
## Data cleaning code working well with sheet no.:5-10 as 'After'

In [73]:
import pandas as pd
import numpy as np

data = pd.read_excel("fcm_data_2.xlsx", skiprows=2, sheet_name=10, usecols="A:K")
data = data[["Date", "Tank No.", "pH", "Cond ", "BOD", "COD ", "TOC", "Turb ", 
                    "Hardness"]]

# data.head()

In [63]:
data.head(10)

        Date        Tank No.   pH  Cond     BOD   COD     TOC  Turb  Hardness
0 2024-01-01  708 ( Before )  5.2   7.00  176.0  534.0  214.0  289.0      NaN
1        NaT           After  6.8   8.20   69.5  210.0   10.2  120.0      300
2        NaT  705 ( Before )  4.3   6.50   79.3  241.0   96.8  130.0      NaN
3        NaT           After  7.1   7.10   32.4   69.5   36.5   52.1      250
4 2024-01-02  708 ( Before )  5.1   3.52    NaN    NaN    NaN    NaN      NaN
5        NaT           After  7.6   4.90    NaN    NaN    NaN    NaN       75
6        NaT  705 ( Before )  6.7   3.10    NaN    NaN    NaN    NaN      NaN
7        NaT           After  7.2   5.10    NaN    NaN    NaN    NaN      125
8        NaT  708 ( Before )  3.4   5.00    NaN    NaN    NaN    NaN      NaN
9        NaT           After  7.1   5.18    NaN    NaN    NaN    NaN      100

In [64]:
## repeats dates

data['Date'].fillna(method='ffill', inplace=True)
data.head(10)

        Date        Tank No.   pH  Cond     BOD   COD     TOC  Turb  Hardness
0 2024-01-01  708 ( Before )  5.2   7.00  176.0  534.0  214.0  289.0      NaN
1 2024-01-01           After  6.8   8.20   69.5  210.0   10.2  120.0      300
2 2024-01-01  705 ( Before )  4.3   6.50   79.3  241.0   96.8  130.0      NaN
3 2024-01-01           After  7.1   7.10   32.4   69.5   36.5   52.1      250
4 2024-01-02  708 ( Before )  5.1   3.52    NaN    NaN    NaN    NaN      NaN
5 2024-01-02           After  7.6   4.90    NaN    NaN    NaN    NaN       75
6 2024-01-02  705 ( Before )  6.7   3.10    NaN    NaN    NaN    NaN      NaN
7 2024-01-02           After  7.2   5.10    NaN    NaN    NaN    NaN      125
8 2024-01-02  708 ( Before )  3.4   5.00    NaN    NaN    NaN    NaN      NaN
9 2024-01-02           After  7.1   5.18    NaN    NaN    NaN    NaN      100

In [69]:
data['Tank No.'] = data['Tank No.'].replace('After ', np.nan)
data.head()

        Date        Tank No.   pH  Cond     BOD   COD     TOC  Turb  Hardness
0 2024-01-01  708 ( Before )  5.2   7.00  176.0  534.0  214.0  289.0      NaN
1 2024-01-01             NaN  6.8   8.20   69.5  210.0   10.2  120.0      300
2 2024-01-01  705 ( Before )  4.3   6.50   79.3  241.0   96.8  130.0      NaN
3 2024-01-01             NaN  7.1   7.10   32.4   69.5   36.5   52.1      250
4 2024-01-02  708 ( Before )  5.1   3.52    NaN    NaN    NaN    NaN      NaN

In [66]:
# data['Tank No.'] = data['Tank No.'].str.replace(r'After(\s+\d+)?', str(np.nan), regex=True)
# data.head()

In [67]:
data['Tank No.'].fillna(method='ffill', inplace=True)
data.head(10)

        Date        Tank No.   pH  Cond     BOD   COD     TOC  Turb  Hardness
0 2024-01-01  708 ( Before )  5.2   7.00  176.0  534.0  214.0  289.0      NaN
1 2024-01-01           After  6.8   8.20   69.5  210.0   10.2  120.0      300
2 2024-01-01  705 ( Before )  4.3   6.50   79.3  241.0   96.8  130.0      NaN
3 2024-01-01           After  7.1   7.10   32.4   69.5   36.5   52.1      250
4 2024-01-02  708 ( Before )  5.1   3.52    NaN    NaN    NaN    NaN      NaN
5 2024-01-02           After  7.6   4.90    NaN    NaN    NaN    NaN       75
6 2024-01-02  705 ( Before )  6.7   3.10    NaN    NaN    NaN    NaN      NaN
7 2024-01-02           After  7.2   5.10    NaN    NaN    NaN    NaN      125
8 2024-01-02  708 ( Before )  3.4   5.00    NaN    NaN    NaN    NaN      NaN
9 2024-01-02           After  7.1   5.18    NaN    NaN    NaN    NaN      100

In [57]:
## Eliminate all hardness NaN rows

In [58]:
data = data.dropna(subset=['Hardness'])
data.head()

        Date      Tank No.   pH Cond    BOD   COD    TOC Turb  Hardness
1 2023-09-01  708 (Before)  7.2     5  27.3   71.5  28.6  24.3      100
3 2023-09-01  701 (Before)  7.3   3.9  48.2   61.5  36.5  23.2       75
5 2023-09-01  708 (Before)  7.2     6  31.4   68.1  41.6  21.5      125
7 2023-09-01  701 (Before)  7.1   9.1  56.9  173.0  69.3  21.9      250
9 2023-09-01  708 (Before)    8     5  15.9   45.2  19.2  18.5      150

In [59]:
data['Tank No.'] = data['Tank No.'].str.replace(r'\s*\(Before\)', '', regex=True)
data.head()

        Date Tank No.   pH Cond    BOD   COD    TOC Turb  Hardness
1 2023-09-01      708  7.2     5  27.3   71.5  28.6  24.3      100
3 2023-09-01      701  7.3   3.9  48.2   61.5  36.5  23.2       75
5 2023-09-01      708  7.2     6  31.4   68.1  41.6  21.5      125
7 2023-09-01      701  7.1   9.1  56.9  173.0  69.3  21.9      250
9 2023-09-01      708    8     5  15.9   45.2  19.2  18.5      150

In [60]:
# Removing "( Before )" from the "Tank No." column
data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')

data.head()

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/3952665172.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')

        Date Tank No.   pH Cond    BOD   COD    TOC Turb  Hardness
1 2023-09-01      708  7.2     5  27.3   71.5  28.6  24.3      100
3 2023-09-01      701  7.3   3.9  48.2   61.5  36.5  23.2       75
5 2023-09-01      708  7.2     6  31.4   68.1  41.6  21.5      125
7 2023-09-01      701  7.1   9.1  56.9  173.0  69.3  21.9      250
9 2023-09-01      708    8     5  15.9   45.2  19.2  18.5      150

## Functions

In [78]:
import pandas as pd
import numpy as np

def clean_data():
    data = pd.read_excel("fcm_data_2.xlsx", skiprows=2, sheet_name=10, usecols="A:K")
    data = data[["Date", "Tank No.", "pH", "Cond ", "BOD", "COD ", "TOC", "Turb ", 
                    "Hardness"]]
    data['Date'].fillna(method='ffill', inplace=True)
    data['Tank No.'] = data['Tank No.'].replace('After', np.nan)
    data['Tank No.'].fillna(method='ffill', inplace=True)
    data = data.dropna(subset=['Hardness'])
    data['Tank No.'] = data['Tank No.'].str.replace(r'\s*\(Before\)', '', regex=True)
    data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
    return data

clean_data()

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/1804014831.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')

          Date Tank No.   pH  Cond    BOD  COD    TOC  Turb  Hardness
1   2024-03-01      701  7.5   9.74  29.3  89.1  35.6   35.7     300+
3   2024-03-01      708  7.2  14.32  21.5  65.3  26.1   36.0     300+
5   2024-03-01      705  6.8   5.15  16.9  46.8  18.5   27.5      150
7   2024-03-01      701  7.3   4.33  26.5  43.9  28.4   19.3       75
9   2024-03-01      708  7.2   8.10  25.4  38.9  26.2   28.4      200
..         ...      ...  ...    ...   ...   ...   ...    ...      ...
253 2024-03-21      705  7.5   6.00  14.8  45.6  18.0   50.0       75
255 2024-03-21      708  7.3  18.40  65.2  80.5  74.6   96.5      200
257 2024-03-21      701  7.6   3.00  27.2  84.4  34.6   24.7      150
259 2024-03-21      708  7.5  11.10  25.3  76.8  30.7  131.0     300+
261 2024-03-21      705  7.2   2.30  27.6  84.1  33.6  121.0      125

[131 rows x 9 columns]

In [81]:
import pandas as pd
import numpy as np

def clean_data(sheet_name):
    data = pd.read_excel("fcm_data_2.xlsx", skiprows=2, sheet_name=sheet_name, usecols="A:K")
    data = data[["Date", "Tank No.", "pH", "Cond ", "BOD", "COD ", "TOC", "Turb ", 
                    "Hardness"]]
    data['Date'].fillna(method='ffill', inplace=True)
    data['Tank No.'] = data['Tank No.'].replace('After ', np.nan)
    data['Tank No.'].fillna(method='ffill', inplace=True)
    data = data.dropna(subset=['Hardness'])
    data['Tank No.'] = data['Tank No.'].str.replace(r'\s*\(Before\)', '', regex=True)
    data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
    return data


data_sheet_0 = clean_data(0)
data_sheet_1 = clean_data(1)
data_sheet_2 = clean_data(2)
data_sheet_3 = clean_data(3)
data_sheet_4 = clean_data(4)

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/1153061116.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')

In [82]:
combined_data = pd.concat([data_sheet_0, data_sheet_1, data_sheet_2, data_sheet_3, data_sheet_4])

# Save the combined data to a CSV file
combined_data.to_csv('delete.csv', index=False)

In [85]:
import pandas as pd
import numpy as np

def clean_data(sheet_name):
    data = pd.read_excel("fcm_data_2.xlsx", skiprows=2, sheet_name=sheet_name, usecols="A:K")
    data = data[["Date", "Tank No.", "pH", "Cond ", "BOD", "COD ", "TOC", "Turb ", 
                    "Hardness"]]
    data['Date'].fillna(method='ffill', inplace=True)
    data['Tank No.'] = data['Tank No.'].replace(r'^After\s*$', np.nan, regex=True)
    data['Tank No.'].fillna(method='ffill', inplace=True)
    data = data.dropna(subset=['Hardness'])
    data['Tank No.'] = data['Tank No.'].str.replace(r'\s*\(Before\)', '', regex=True)
    data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
    return data

data_sheet_0 = clean_data(0)
data_sheet_1 = clean_data(1)
data_sheet_2 = clean_data(2)
data_sheet_3 = clean_data(3)
data_sheet_4 = clean_data(4)
data_sheet_5 = clean_data(5)
data_sheet_6 = clean_data(6)
data_sheet_7 = clean_data(7)
data_sheet_8 = clean_data(8)
data_sheet_9 = clean_data(9)
data_sheet_10 = clean_data(10)

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/351060087.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')

In [86]:
combined_data = pd.concat([data_sheet_0, data_sheet_1, data_sheet_2, data_sheet_3, data_sheet_4,
                          data_sheet_5, data_sheet_6, data_sheet_7, data_sheet_8, data_sheet_9, data_sheet_10])

# Save the combined data to a CSV file
combined_data.to_csv('cleaned_fcm.csv', index=False)

In [88]:
import pandas as pd
import numpy as np

def clean_data(sheet_name):
    data = pd.read_excel("fcm_data_2.xlsx", skiprows=2, sheet_name=sheet_name, usecols="A:K")
    data = data[["Date", "Tank No.", "pH", "Cond ", "BOD", "COD ", "TOC", "Turb ", 
                    "Hardness"]]
    data['Date'].fillna(method='ffill', inplace=True)
    data['Tank No.'] = data['Tank No.'].replace(r'^After\s*$', np.nan, regex=True)
    data['Tank No.'].fillna(method='ffill', inplace=True)
    data = data.dropna(subset=['Hardness'])
    data['Tank No.'] = data['Tank No.'].str.replace(r'\s*\(Before\)', '', regex=True)
    data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
    # Convert 'Hardness' column to string type
    data['Hardness'] = data['Hardness'].astype(str)
    # Remove '+' sign from 'Hardness' values
    data['Hardness'] = data['Hardness'].str.replace('+', '')
    return data


data_sheet_0 = clean_data(0)
data_sheet_1 = clean_data(1)
data_sheet_2 = clean_data(2)
data_sheet_3 = clean_data(3)
data_sheet_4 = clean_data(4)
data_sheet_5 = clean_data(5)
data_sheet_6 = clean_data(6)
data_sheet_7 = clean_data(7)
data_sheet_8 = clean_data(8)
data_sheet_9 = clean_data(9)
data_sheet_10 = clean_data(10)

combined_data = pd.concat([data_sheet_0, data_sheet_1, data_sheet_2, data_sheet_3, data_sheet_4,
                          data_sheet_5, data_sheet_6, data_sheet_7, data_sheet_8, data_sheet_9, data_sheet_10])

# Save the combined data to a CSV file
combined_data.to_csv('cleaned_fcm_1.csv', index=False)

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/4029272730.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/4029272730.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Hardness'] = data['Hardness'].str.replace('+', '')

In [89]:
import pandas as pd
import numpy as np

def clean_data(sheet_name):
    data = pd.read_excel("fcm_data_2.xlsx", skiprows=2, sheet_name=sheet_name, usecols="A:K")
    data = data[["Date", "Tank No.", "pH", "Cond ", "BOD", "COD ", "TOC", "Turb ", 
                    "Hardness"]]
    data['Date'].fillna(method='ffill', inplace=True)
    data['Tank No.'] = data['Tank No.'].replace(r'^After\s*$', np.nan, regex=True)
    data['Tank No.'].fillna(method='ffill', inplace=True)
    data = data.dropna(subset=['Hardness'])
    data['Tank No.'] = data['Tank No.'].str.replace(r'\s*\(Before\)', '', regex=True)
    data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
    data['Hardness'] = data['Hardness'].astype(str)
    data['Hardness'] = data['Hardness'].str.replace('+', '')
    print(data[["Date", "Hardness"]])

clean_data(0)

          Date Tank No.   pH  Cond    BOD   COD    TOC Turb  Hardness
1   2023-05-02      708  8.5   5.15  19.9   38.5  21.6  62.4    150.0
3   2023-05-02      701  6.5   11.8  22.4   67.1  26.9  63.5    100.0
5   2023-05-02      708  7.6    3.8  56.3   96.1  41.5  35.1    200.0
7   2023-05-02      705  7.4  1.865  56.3   81.7  41.2  31.5    175.0
9   2023-05-02      701  7.2   6.38  41.9  110.0  65.5  39.8    150.0
..         ...      ...  ...    ...   ...    ...   ...   ...      ...
431 2023-05-31      708  7.8   6.65  30.8   73.2  41.1  58.5     75.0
433 2023-05-31      701  7.4    5.2  26.2   79.6  31.8  62.7     50.0
435 2023-05-31      708  8.4   4.98  37.6   39.4  35.8  27.9     50.0
437 2023-05-31      701  7.2    3.5  25.5   45.2  26.2  22.5    125.0
439 2023-05-31      705  7.2    3.2  22.2   30.5  18.5  18.2    150.0

[220 rows x 9 columns]

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/3333039692.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Tank No.'] = data['Tank No.'].str.replace(' \( Before \)', '')
C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_16460/3333039692.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Hardness'] = data['Hardness'].str.replace('+', '')