#### 1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).

In [3]:
def findnum():
    listnum = []
    for i in range(2000, 3200, 1):
        if i%7==0 and i%5!=0:
            listnum.append(i)
    return listnum

findnum()

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

#### 2. The above results numbers obtained should be printed in a comma-separated sequence on a single line.

In [5]:
def findnum():
    listnum = []
    for i in range(2000, 3200, 1):
        if i%7==0 and i%5!=0:
            listnum.append(i)
    print(','.join(map(str, listnum)))

findnum()

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

#### 3. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.

In [7]:
def facto(num):
    if num==0:
        return 1
    else:
        return num*facto(num-1)
    
facto(5)

120

#### 4. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [14]:
def dictnum(n):
    num = dict()
    for i in range(1, n+1):
        num[i] = i*i
    return num
        

dictnum(4)

{1: 1, 2: 4, 3: 9, 4: 16}

#### 5. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

In [24]:
def usernum():
    num = input("Enter numbers:")
    list_result = num.split(",")
    tup_result = tuple(list_result)
    print(list_result)
    print(tup_result)
    
usernum()

Enter numbers:1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

#### 6. Define a class which has at least two methods: getString: to get a string from console input, printString: to print the string in upper case.

In [26]:
class test:
    
    def __init__(self):
        self.var = ""
        
    def getString(self):
        self.var = input("Enter string: ")
        
    def printString(self):
        return self.var.upper()
    
test1 = test()
test1.getString()
test1.printString()

Enter string: sandeep

'SANDEEP'

#### 7. Write a program that calculates and prints the value according to the given formula:

In [34]:
def varnum(x):
    result = []
    
    for i in range(len(x)):
        y = 2*x[i] + 2
        result.append(y)
    return result

varnum([1,2,3,5])

[4, 6, 8, 12]

#### 8. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

In [36]:
def generate_array(X,Y):
    twodarray = []
    for i in range(X):
        row = []
        for j in range(Y):
            element = i*j
            row.append(element)
        twodarray.append(row)
    return twodarray

generate_array(3,5)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

#### 9. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [47]:
def sort_alpha():
    string = input("Enter the string: ")
    words = string.split(',')
    words.sort()
    sorted_word = ','.join(words)
    return sorted_word
    
sort_alpha()

Enter the string: without,hello,bag,world

'bag,hello,without,world'

#### 10. Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

In [49]:
def capitalize_lines():
    lines = []
 
    while True:
        line = input("Enter a line (press Enter to stop): ")
        if not line:
            break
        lines.append(line.upper()) 
    
    for i in lines:
        print(i)

capitalize_lines()

Enter a line (press Enter to stop): lsdlnsdlbs ksndlksndlksv
Enter a line (press Enter to stop):
LSDLNSDLBS KSNDLKSNDLKSV

#### 11. Write a Python program that asks the user for a positive integer n, then counts down from n to 1, printing each number on a new line until it reaches 1.

In [54]:
def countdown(n):
    
    while n>=1:
        print(n)
        n=n-1
    
countdown(4)

4
3
2
1

#### 12. Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

In [3]:
def binarynum(seq):
    bin_num = seq.split(',')
    
    result = []
    for i in bin_num:
        dec_num= int(i,2)
        result.append(dec_num)
    return result

print(binarynum([1111]))

AttributeError: 'list' object has no attribute 'split'

#### 13. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.

In [7]:
def even_digits(start,end):
    
    even_digits = []
    
    for i in range(start,end+1):
        num = str(i)
        even_num = True
        
        for j in num:
            if int(j) % 2 != 0:
                even_num = False
                break
        if even_num:
            even_digits.append(i)
    return even_digits

even_digits(1000, 3000)

[2000,
 2002,
 2004,
 2006,
 2008,
 2020,
 2022,
 2024,
 2026,
 2028,
 2040,
 2042,
 2044,
 2046,
 2048,
 2060,
 2062,
 2064,
 2066,
 2068,
 2080,
 2082,
 2084,
 2086,
 2088,
 2200,
 2202,
 2204,
 2206,
 2208,
 2220,
 2222,
 2224,
 2226,
 2228,
 2240,
 2242,
 2244,
 2246,
 2248,
 2260,
 2262,
 2264,
 2266,
 2268,
 2280,
 2282,
 2284,
 2286,
 2288,
 2400,
 2402,
 2404,
 2406,
 2408,
 2420,
 2422,
 2424,
 2426,
 2428,
 2440,
 2442,
 2444,
 2446,
 2448,
 2460,
 2462,
 2464,
 2466,
 2468,
 2480,
 2482,
 2484,
 2486,
 2488,
 2600,
 2602,
 2604,
 2606,
 2608,
 2620,
 2622,
 2624,
 2626,
 2628,
 2640,
 2642,
 2644,
 2646,
 2648,
 2660,
 2662,
 2664,
 2666,
 2668,
 2680,
 2682,
 2684,
 2686,
 2688,
 2800,
 2802,
 2804,
 2806,
 2808,
 2820,
 2822,
 2824,
 2826,
 2828,
 2840,
 2842,
 2844,
 2846,
 2848,
 2860,
 2862,
 2864,
 2866,
 2868,
 2880,
 2882,
 2884,
 2886,
 2888]

#### 14. Write a program that accepts a sentence and calculate the number of letters and digits.

In [29]:
def count_words_digits(sentence):
    num_letter = 0
    num_digits = 0
    
    for i in sentence:
        if i.isalpha():
            num_letter+=1
        elif i.isdigit():
            num_digits +=1
            
    return num_letter, num_digits

sentence = "ksdcs suhds65647 sdshv88 74637"
letter, digit = count_words_digits(sentence)
print(f"letters are: {letter}, digits are: {digit}")

letters are: 15, digits are: 12

#### 15. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

In [33]:
def count_upper_lower(sentence):
    upper = 0
    lower = 0
    
    for i in sentence:
        if i.isupper():
            upper +=1
        elif i.islower():
            lower +=1
    return upper, lower

sentence = "ksdAA suhDS65647 SSShv88 74637"
upper, lower = count_upper_lower(sentence)
print(f"upper are: {upper}, lower are: {lower}")

upper are: 7, lower are: 8

#### 16. Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

In [36]:
def compute_a(a):
#     a_str = str(a)
    
#     a = int(a_str)
#     aa = int(a_str)*2
#     aaa = int(a_str)*3
#     aaaa = int(a_str)*4

    
    a = int(a)
    aa = int(a)*2
    aaa = int(a)*3
    aaaa = int(a)*4
    
    total = a+aa+aaa+aaaa
    return total
    
a = int(input("Enter a digit: "))
result = compute_value(a)
print("The computed value is:", result)

Enter a digit: 9
The computed value is: 11106

#### 17. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.

In [44]:
numbers = "1,2,3,4"
number_list = numbers.split(',')

sq_odd = [int(i)**2 for i in number_list if int(i)%2 !=0 ] ### list comprehension of the below

# for i in number_list:
#     if int(i)%2 !=0:
#         i = int(i)**2

result = ','.join(map(str, sq_odd))
print(result)

1,9