In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import inventorize3 as inv

In [2]:
df = pd.read_csv("abc.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### data preprocessing

In [3]:
df= df[df.Quantity > 0]
df['Revenue']= df['UnitPrice']* df['Quantity']

In [4]:
df['InvoiceDate']= pd.to_datetime(df['InvoiceDate'])
df['date']= df['InvoiceDate'].dt.strftime("%Y-%m-%d")
df['date']=pd.to_datetime(df['date'])

In [5]:
df['month']= df.date.dt.month
df['year']= df.date.dt.year
df['week']= df.date.dt.week

C:\Users\CHS9NA\AppData\Local\Temp/ipykernel_26220/1731170485.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week']= df.date.dt.week

In [7]:
time_series=df.groupby(['week','year']).agg(date= ('date','first'),
        total_revenue=('Revenue',np.sum)).reset_index().sort_values('date')

time_series.head()

    week  year       date  total_revenue
47    48  2010 2010-12-01      185427.83
49    49  2010 2010-12-06      329936.81
51    50  2010 2010-12-13      216012.20
52    51  2010 2010-12-20       92369.30
0      1  2011 2011-01-04      133658.19